.answer-new{
    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
    height: 100%;

    .actions{
        padding-top: 4%;
        float: right;
    }

    .questions{
        padding-top: 3%;
        padding-bottom: 1%;
    }

    .question-card{
        padding-top: 1%;
    }
}