.form-form{
    .container{
        margin-top: 4%;
    }

    .form{
        margin-bottom: 0px;    
    }

    .card-content{
        padding-bottom: 6px;
        padding-top: 20px;
    }

    .title{
        margin-left: 2px;
    }
    
    .description{
        margin-left: 2px;
        margin-right: 2px;
    }

    .submit-button{
        margin-right: 2px;
    }

    .switch-enable{
        margin-top: 40px;
    }

    .color-picker{
        height: 22px;
        margin-top: 40px;
    }

    .materialize-textarea{
        padding: 0;
    }

    .form-field{
        width: 100%
    }
}