<div class="reset-password-request">
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <h3 class="title-page">Forgot Password</h3>
            </div>
            <div class="col"></div>
        </div>

        <form #signInForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <mat-form-field style="width: 100%">
                        <input matInput type="text" class="form-control" placeholder="Email" required [(ngModel)]="resetPasswordData.login" name="email">
                    </mat-form-field>
                </div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <button type="submit" mat-raised-button color="primary" [disabled]="!signInForm.form.valid">
                        Reset Password <mat-icon>send</mat-icon>
                    </button>
                </div>
                <div class="col"></div>
            </div>

        </form>
    </div>
</div>