<div class="home">
  <div class="container">
    <div class="container-fluid text-center row">
      <div class="col">
        <h4 class="title title-page">SMART ESSENTIAL DATA COLLECTION</h4>
      </div>
    </div>
    <div class="container-fluid text-center row">
      <div class="col">
        <h5 class="subtitle">
            With OneBitForms customizable Forms, it's easy to collect valuable information from your customers quickly and free        
        </h5>
      </div>
    </div>
    <div class="container-fluid text-center row">
      <div class="col">
        <button mat-raised-button color="primary" (click)="navigateToPage('/forms')">Create your form now</button>
      </div>
    </div>
  </div>
</div>